---
bg: "rails.jpg"
layout: default
crawlertitle: "IUSH Hardware Architecture blog"
title: "Hardware Architecture"
summary: "main page"
---

{% for post in site.posts limit: 5 %}
    <article class="index-page">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </article>
{% endfor %}
